body {
    font-family: 'PT Serif', serif;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #133266;
}
::-webkit-scrollbar-thumb {
    background: #184289;
}
/*div styles*/
#container {
	width: 100%;
    height: 100%;
}
#miscBar {
    width: 33%;
    height: 22px;
    position: relative;
    overflow: hidden;
}
#leftcolumn {
    position: relative;
	width: 33%;
	height: 100%;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}
#centercolumn {
    width: 33%;
    height: 100%;
    float: left;
    border-style: solid;
    border-width: 1px;
    background-color: #777777;
    position: relative;
    top: -14px;
}
#orbColumn {
    width: 33%;
    height: 130px;
    float: left;
    border-style: solid;
    border-width: 1px;
    background-color: #5b5b5b;
    position: relative;
    top: -14px;
}
#rightcolumn {
    width: 33%;
    height: 100%;
    float: left;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    position: relative;
    top: -14px;
}
#resources {
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 40px;
    margin-right: 12px;
}
#buttons {
    height: 100%;
    margin-top: 24px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}
div.buttonDivs {
    margin-bottom: 35px;
    height: 50px;
}
#mouseOver {
    position: fixed;
    font-size: 14px;
    width: 15%;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    z-index: 20;
    visibility: hidden;
    pointer-events: none;
}

/*miscellanous bar*/
p.miscText {
    width: 22px;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}
p.miscText:hover {
    font-weight: bolder;
}

/*orb section*/
#scryDiv {
    position: fixed;
    z-index: 4;
    width: 40%;
    left: 30%;
    height: 350px;
    top: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #4777c6;
}
#scryTextDiv {
    position: relative;
    width: 90%;
    left: 5%;
    height: 250px;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    overflow: hidden;
}
p.scryText {
    color: #133266;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0px;
}
img.subButton {
    position: relative;
    width: 50%;
    height: 50px;
    left: 25%;
    top: 22px;
    margin-top: 0px;
}
a.subLink {
    position: relative;
    top: -100px;
    left: 25%;
}
img.subCover {
    position: relative;
    width: 50%;
    height: 50px;
    top: 8px;
    z-index: 5;
    margin-bottom: 0px;
}
p.subText {
    position: relative;
    text-align: center;
    top: -37px;
    font-size: 18px;
}/*
div.subButtonDiv {
    height: 80px;
    visibility: hidden;
}*/
#subDiv1 {
    height: 80px;
    visibility: hidden;
}
#subDiv2 {
    height: 80px;
    visibility: hidden;
}
#subDiv3 {
    height: 80px;
    visibility: hidden;
}

#scryButtonDiv {
    position: relative;
    width: 100px;
    margin: auto;
    height: 70px;
    top: 30px;
}
img.scryButton {
    position: relative;
    width: 60px;
    height: 25px;
    left: 20px;
    top: 22px;
}
img.scryCover {
    position: relative;
    width: 60px;
    height: 26px;
    left: 20px;
    z-index: 5;
    top: -55px;
}
p.scryButtonText {
    position: relative;
    text-align: center;
    top: -18px;
    font-size: 14px;
}

/*mouse over text sections*/
#topSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
#topSecText {
    margin-bottom: 0px;
}
#secBorder {
    margin-top: 0px;
}
#midSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
p.midSecText {
    margin-bottom: 0px;
    margin-top: 0px;
}
#botSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #424242;
}

/*resource text styes*/
p.resourceTitle {
    display: inline;
}
p.resourceAmount {
	display: inline;
}
p.resourceCap {
	display: inline;
}
p.resourceRate {
	display: inline;
}

/*button related*/
img.button {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 0px;
}
img.buttonCover {
    position: relative;
    top: -168px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    z-index: 2;
}
img.buttonCover2 {
    position: relative;
    top: -193px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    z-index: 2;
}
p.buttonText {
    position: relative;
    top: -57px;
    left: 10%;
    margin-bottom: 0px;
    z-index: 1;
}
p.countText {
    position: relative;
    top: -96px;
    font-size: 36px;
    color: #424242;
    left: 82%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}
p.priceText {
    position: relative;
    top: -133px;
    left: 38%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}
p.priceText2 {
    position: relative;
    top: -144px;
    left: 42%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}

/*orb column*/
img.orbButton {
    position: relative;
    width: 80%;
    height: 50px;
    top: 40px;
    margin-left: 10%;
    margin-bottom: 0px;
}
img.orbCover {
    position: relative;
    top: -80px;
    width: 80%;
    height: 51px;
    margin-left: 10%;
    z-index: 2;
}
p.orbText {
    position: relative;
    top: -37px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
    z-index: 1;
}