body {
    font-family: 'PT Serif', serif;
	overflow: hidden;
}
/*div styles*/
#container {
position: absolute;
	width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    min-height: initial;
    max-height: initial;
    min-width: 1170px;
	max-width: 1800px;
	margin: auto 0px auto;
	overflow: hidden;
}
#miscBar {
    width: 33%;
    height: 22px;
	margin-top: 0px;
    position: relative;
    overflow: hidden;
}
#leftcolumn {
	width: 300px;
	left: 0px;
	bottom: 0px;
	top: 22px;
	min-width: 300px;
	max-width: 500px;
	min-height: initial;
	max-height: initial;
	height: auto;
	margin: 0px;
	overflow-y: auto;
    position: absolute;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: #FFFFFF;
}
#centercolumn::-webkit-scrollbar {
    width: 0px;
}
#centercolumn {
    width: auto;
	min-width: 500px;
	max-width: 700px;
	min-height: initial;
	max-height: initial;
    height: auto;
	margin: auto, 0px, auto;
	top: 0px;
	left: 300px;
	right: 370px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: #777777;
}
#orbColumn {
    width: 370px;
	min-width: initial;
	max-width: initial;
	min-height: initial;
	max-height: initial;
    height: 130px;
	margin-top: 0px;
	left: initial;
	bottom: 0px;
	right: 0px;
	padding: 0px 0px;
	overflow-y: hidden;
	top: 0px;
	display: block;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: #5b5b5b;
}
#rightcolumn {
    width: 370px;
	min-width: initial;
	max-width: initial;
	min-height: initial;
	max-height: initial;
    height: auto;
	margin: auto;
	left: initial;
	bottom: 0px;
	right: 0px;
	padding: 0px 0px;
	overflow-y: auto;
	top: 130px;
	display: block;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    background-color: #777777;
}
#resources {
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 40px;
    margin-right: 12px;
}
#buttons {
    height: 100%;
    margin-top: 24px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
}
div.buttonDivs {
    margin-bottom: 35px;
    height: 50px;
	max-width: 476px;
}

/*miscellanous bar*/
p.miscText {
    width: 22px;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}
p.miscText:hover {
    font-weight: bolder;
}

/*orb section*/
#scryDiv {
    position: fixed;
    z-index: 4;
    width: 40%;
    left: 30%;
    height: 350px;
    top: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    background-color: #4777c6;
}
#scryTextDiv::-webkit-scrollbar {
    width: 5px;
}
#scryTextDiv::-webkit-scrollbar-track {
    background: #133266;
}
#scryTextDiv::-webkit-scrollbar-thumb {
    background: #184289;
}
#scryTextDiv {
    position: relative;
    width: 90%;
    left: 5%;
    height: 250px;
    top: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    overflow: hidden;
}
p.scryText {
    color: #133266;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0px;
}
img.subButton {
    position: relative;
    width: 50%;
    height: 50px;
    left: 25%;
    top: 22px;
    margin-top: 0px;
}
a.subLink {
    top: -100px;
    left: 25%;
}
img.subCover {
    position: relative;
    width: 50%;
    height: 50px;
    top: 8px;
    z-index: 5;
    margin-bottom: 0px;
}
p.subText {
    position: relative;
    text-align: center;
    top: -37px;
    font-size: 18px;
}/*
div.subButtonDiv {
    height: 80px;
    visibility: hidden;
}*/
#subDiv1 {
    height: 80px;
    visibility: hidden;
}
#subDiv2 {
    height: 80px;
    visibility: hidden;
}
#subDiv3 {
    height: 80px;
    visibility: hidden;
}

#scryButtonDiv {
    position: relative;
    width: 100px;
    margin: auto;
    height: 70px;
    top: 30px;
}
img.scryButton {
    position: relative;
    width: 60px;
    height: 25px;
    left: 20px;
    top: 22px;
}
img.scryCover {
    position: relative;
    width: 60px;
    height: 26px;
    left: 20px;
    z-index: 5;
    top: -55px;
}
p.scryButtonText {
    position: relative;
    text-align: center;
    top: -18px;
    font-size: 14px;
}

/*mouse over text sections*/
#mouseOver {
    position: fixed;
    font-size: 14px;
    width: 220px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    z-index: 20;
    visibility: hidden;
    pointer-events: none;
}
#topSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
#topSecText {
    margin-bottom: 0px;
}
#secBorder {
    margin-top: 0px;
}
#midSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
p.midSecText {
    margin-bottom: 0px;
    margin-top: 0px;
}
#botSection {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    color: #424242;
}

#tokenMouseOver {
	position: fixed;
	font-size: 14px;
	width: 40px;
	height: 20px;
    border-style: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    z-index: 20;
    visibility: hidden;
    pointer-events: none;
}
#tokenHoverText {
	margin: 0px;
	text-align: center;
}

/*resource text styes*/
p.resourceTitle {
    display: inline;
}
p.resourceAmount {
	display: inline;
}
p.resourceCap {
	display: inline;
}
p.resourceRate {
	display: inline;
}

/*button related*/
img.button {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-bottom: 0px;
}
img.buttonCover {
    position: relative;
    top: -168px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    z-index: 2;
	cursor: pointer;
}
img.buttonCover2 {
    position: relative;
    top: -193px;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    z-index: 2;
}
p.buttonText {
    position: relative;
    top: -57px;
    left: 10%;
    margin-bottom: 0px;
    z-index: 1;
}
p.countText {
    position: relative;
    top: -96px;
    font-size: 36px;
    color: #424242;
    left: 82%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}
p.priceText {
    position: relative;
    top: -133px;
    left: 38%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}
p.priceText2 {
    position: relative;
    top: -144px;
    left: 42%;
    margin-bottom: 0px;
    margin-top: 3px;
    z-index: 1;
}

/*token holders*/
div.tokenHolder {
    width: 280px;
    height: 100px;
    margin: 0px 45px 0px;
}
div.THTitle {
	width: 100%;
	height: 50px;
	margin: 0px;
	top: 0px;
	position: relative;
}
p.THTitleText {
	margin: 0px;
	font-size: 24px;
	padding: 9px 6px;
}
img.tokenImage {
	width: 36px;
	height: 36px;
	margin: 6px 0px 0px 40px;
	top: -50px;
	visibility: visible;
	cursor: pointer;
	pointer-events: none;
	position: relative;
	z-index: 2;
}
a.tokenImageLink {
	visibility: hidden;
	z-index: -1;
}
progress.tokenProgress {
	width: 280px;
	height: 50px;
	top: 0px;
	-webkit-appearance: none;
	border: none;
	position: relative;
}
progress.tokenProgress::-webkit-progress-bar {
	background: #248f2b;
}
progress.tokenProgress::-webkit-progress-value {
	background-color: #48c250;
    box-shadow: var(--glow, 0 0 0px 0px #f2df0f);
}

/*orb column*/
img.orbButton {
    position: relative;
    width: 80%;
    height: 50px;
    top: 40px;
    margin-left: 10%;
    margin-bottom: 0px;
}
img.orbCover {
    position: relative;
    top: -80px;
    width: 80%;
    height: 51px;
    margin-left: 10%;
    z-index: 2;
}
p.orbText {
    position: relative;
    top: -37px;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0px;
    z-index: 1;
}